{{!-- {{Clase creada para mostrar la informacion de juego segun requeria el
ejercicio

@version 1.00.000 2022-05-17

@author Justin Alejandro Diaz - jusadiazjim@unal.edu.co

@since 1
}} --}}

<div class="movies-container">
    <div class="box">
        <div class="photo"><img src="{{data.img}}"></div>
        <div class="info">
            <h1>{{data.title}}</h1>
            <br><br>
            {{{data.desc}}}
            <br><br>
            <p>Jugador1 :{{data.title}}</p>
            <p>Score: {{data.title}}</p>
            <p>Jugador2 :{{data.title}}</p>
            <p>Score: {{data.title}}</p>
            <p>Ganador: {{data.title}}</p>
            <p>Juego en curso: {{data.title}}</p>
        </div>
    </div>
</div>